AWS_REGION=ap-northeast-1
S3_BUCKET=my-private-bucket
S3_PREFIX=webdav/
AUTH_MODE=basic
AUTH_USERNAME=alice
AUTH_PASSWORD=replace-me
MAX_OBJECT_SIZE_BYTES=5242880
HEALTHCHECK_ENABLED=true
HOST=0.0.0.0
PORT=8080
DAV_S3_GATEWAY_LOG_LEVEL=info
